body {
	padding-top: 100px;
}
@media screen and (max-width: 768px) {  
	#expr-title { display: none; }
	#info-title { display: none; }
	#expression-list { 
		visibility: hidden;
		position: absolute;
		left: 0px;
		top: 0px;
		width:100%;
		height:100%;
		z-index: 1000;
		background-color: white;
	}

	#expression-list #back-icon {
		max-height:25px; 
		max-width:25px; 
		height:20%; 
		width:20%;
	}
	#info-container { display: none; }
}

img.title-icon {
	float:right; 
	max-height:40px; 
	max-width:40px; 
	height:60%; 
	width:60%;
}

#expression-list #hidden-header {
	padding-bottom: 10px;
		border-bottom: solid #dddddd; 
}

#expression-list #hidden-header #back-icon {
	max-height:30px; 
	max-width:30px; 
	height:60%; 
	width:60%;
}

.language {
	border-right: 
	solid #dddddd; 
	background-color: #e7e7e7; 
	margin-top: 5px; 
	height: 40px; 
	padding-left: 5px;
}

#expression-list .expression {
	border-bottom: solid #dddddd; 
	margin-top:10px
}

.expression-text {
	padding-bottom: 25px;
}

.form-login .form-control {
	margin-bottom: 10px;
}

span.glyphicon-globe {
	font-size: 1.6em;
	float: right;
}
