@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.form-expr {
	margin-bottom: 30px;
}

.new-expression {
  padding: 20px;
}

/* Button to add new language */
.new-language {
  padding: 20px;
}

/* This is for buttons for adding viewing expressions in expressions list */
.buttons-container {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}

/* Edit the headers in the panel for editing expressions or languages */
.expr-panel:first-child,
.default-expr-panel:first-child,
.user-panel:first-child,
.lang-panel:first-child {
  text-align: center;
  font-size: 18px;
}

.edit-expr .form-expr,
.edit-default-expr .form-default-expr,
.edit-user .form-user,
.edit-lang .form-lang {
  padding: 30px;
}

/* expressions form in edit languages */
.expr-panel-edit {
  padding: 10px;
  margin-bottom: 5px;
}

.edit-lang img {
  width: 80%;
  height: auto;
}

.edit-expr .bg-success,
.edit-default-expr .bg-success,
.edit-user .bg-success,
.edit-lang .bg-success {
  text-align: center;
  line-height: 220%;
  width: 50%;
  margin-left: 25%;
}

.edit-expr .bg-warning,
.edit-default-expr .bg-warning,
.edit-user .bg-warning,
.edit-lang .bg-warning {
  text-align: center;
  line-height: 220%;
  width: 50%;
  margin-left: 25%;
}

div.bg-info p {
  padding: 10px;
  text-align: center;
}

#expression-list-update {
  margin-top: 50px;
  margin-bottom: 30px;
}

#expression-list-update h1 {
  margin-bottom: 30px;
}

.form-expr-new {
  margin-bottom: 5px;
}

.form-expr-update {
  margin-bottom: 30px
}

/* Edit the view of the tables in dashboard */
.users-table th,
.expressions-table th,
.default-expressions-table th,
.languages-table th {
  text-align: center;
}

.users-table td,
.expressions-table td,
.default-expressions-table td,
.languages-table td {
  text-align: center;
}

.expr-play {
  padding-top: 20px;
}

.lang-expr-play {
  margin-top: 15px;
}
