@media screen and (max-width: 768px) {  
	#expr-title { display: none; }
	#info-title { display: none; }
	#expression-list { 
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 1000;
    background-color: white;
  }

  #expression-list #back-icon {
	max-height:40px; 
	max-width:40px; 
	height:60%; 
	width:60%;
  }
	#info-container { display: none; }
}

img.title-icon {
	float:right; 
	max-height:40px; 
	max-width:40px; 
	height:60%; 
	width:60%;
}

#expression-list #back-icon {
	max-height:40px; 
	max-width:40px; 
	height:60%; 
	width:60%;
}

.language {
	border-right: 
	solid #dddddd; 
	background-color: #e7e7e7; 
	margin-top: 5px; 
	height: 40px; 
	padding-left: 5px;
}

.expression {
	border-bottom: solid #dddddd; 
	margin-top:10px
}

.expression-text {
	padding-bottom: 25px;
}

.form-login {
	max-width: 350px;
	margin: 0 auto;
}

.form-login .form-control {
	margin: 10px;
}

.form-login button {
	margin: 10px;
}