@media (max-width: @screen-xs) {
    h4{font-size: 10px;}
}

@media (max-width: @screen-sm) {
    h4{font-size: 14px;}
}

@media (max-width: @screen-md) {
    h4{font-size: 20px;}
}

@media (max-width: @screen-lg) {
    h4{font-size: 24px;}
}

/*body {
	min-width: 640px;
}*/

img.title-icon {
	float:right; max-height:40px; max-width:40px; height:60%; width:60%;
}

.language {
	border-right: 
	solid #dddddd; 
	background-color:#e7e7e7; 
	margin-top:5px; 
	height: 40px; 
	padding-left:5px;
}

.expression {
	border-bottom: solid #dddddd; 
	margin-top:10px
}

.expression-text {
	padding-bottom: 25px;
}

.form-login {
	max-width: 350px;
	margin: 0 auto;
}

.form-login .form-control {
	margin: 10px;
}

.form-login button {
	margin: 10px;
}