<div class="row">
  <div id="lang-title" class="col-xs-12 col-sm-5 col-md-3"> 
      <h4 class="pull-left">Languages</h4>
      <img class="title-icon pull-right" src="/images/langs-icon.png">
  </div>
  
  <div id="expr-title" class="col-xs-12 col-sm-7 col-md-4 hidden">
    <h4 id="lang-name" class="pull-left">{{welcomeTitle}}</h4>
    <img class="title-icon pull-right"  src="/images/exprs-icon.png">
  </div>

  <div id="info-title" class="hidden-xs hidden-sm col-md-5 hidden">
    <h4 class="pull-left">Info</h4>
    <img class="title-icon pull-right" src="/images/info-icon.png">
  </div>
</div>

<div class="row">
  <div id="language-list" class="col-xs-12 col-sm-5 col-md-3">
    {{#each languages }}
    <div id ="{{ this.name }}" class="language" onClick="populateExpressions('{{ this._id }}', '{{ this.name }}' ,'{{{ this.info }}}', '{{ this.map }}')">{{ this.name }}
    </div>
    {{/each}}
  </div>

  <div id="display-title" class="hidden-xs col-sm-6 col-sm-offset-1">
    <h1>{{ welcomeTitle }}</h1>
    <img src="/images/babel.jpg">
    <div class="alert alert-info">
      <div>{{{ welcomeInfo }}}</div>
      <div> {{{ welcomeBody }}} </div>
    </div>
  </div>

  <div id="expression-list" class="col-xs-12 col-sm-7 col-md-4 hidden">
    <div id="hidden-header" class="hidden">
      <img class="pull-left" id="back-icon" src="/images/back-icon.png" onClick="closeModal();">
      <h5 style="text-align: center;">Expressions</h5>
    </div>
  </div>

  <div id="info-container" class="hidden-xs hidden-sm col-md-5 hidden">
    <img id="map" src="">
    <div id="info" class="alert alert-info"></div>
  </div>  
</div>


<!--<div id="lang-title" class="col-xs-12 col-sm-4 col-md-3 col-lg-3"> 
  <h4 style="float:left;">Languages</h4>
  <img class="title-icon" src="/images/langs-icon.png">
</div>
<div id="expr-title" class="col-xs-0 col-sm-4 col-md-4 col-lg-4">
  <h4 id="lang-name" style="float:left;">{{welcomeTitle}}</h4>
  <img class="title-icon" src="/images/exprs-icon.png">
</div>
<div id="info-title" class="col-xs-0 col-sm-4 col-md-3 col-lg-3">
  <h4 style="float:left;";>Info</h4>
  <img class="title-icon" src="/images/info-icon.png">
</div>
<div class="clearfix"></div>

<div id="language-list" class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
  {{#each languages }}
  <div id ="{{ this.name }}" class="language" onClick="populateExpressions('{{ this._id }}', '{{ this.name }}' ,'{{ this.info }}', '{{ this.map }}')">{{ this.name }}
  </div>
  {{/each}}
</div>

<div id="expression-list" style="overflow:auto;" class="col-xs-0 col-sm-4 col-md-4 col-lg-4">
  <div id="hidden-header">
    <img style="float:left;"id="back-icon" src="/images/back-icon.png" onClick="closeModal();">
    <h5 style="text-align: center;">Expressions</h5>
  </div>
  {{{welcomeBody}}}
</div>

<div id="info-container" class="col-xs-0 col-sm-4 col-md-3 col-lg-3 hidden-md">
  <div id="info">
  {{{welcomeInfo}}}
  </div>
  <img id="map" src="{{ initMap }}">
</div>-->
