<div id="lang-title" class="col-xs-4 col-sm-4 col-md-4 col-lg-4"> 
  <p>Languages</p>
</div>
<div id="expr-title" class="col-xs-6 col-sm-4  col-md-8 col-lg-8">
  <p>Expressions</p>
</div>

<div class="clearfix"></div>


<div id="languageList" class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
  {{#each languages }}
  <div id ="{{ this.name }}" onClick="populateExpressions('{{ this._id }}')">{{ this.name }}
  </div>
  {{/each}}
</div>

<div id="expressionList" class="col-xs-6 col-sm-4  col-md-8 col-lg-8">
  {{#each expressions }}
  <div>{{ this.english }} - {{ this.translation }} </div>
  {{/each}}
</div>
