<div id="lang-title" class="col-xs-12 col-sm-4 col-md-3 col-lg-3"> 
  <h4 style="float:left;">Languages</h2>
  <img class="title-icon" src="/images/langs-icon.png">
</div>
<div id="expr-title" class="col-xs-0 col-sm-4 col-md-4 col-lg-4">
  <h4 style="float:left;">Expressions</h4>
  <img class="title-icon" src="/images/exprs-icon.png">
</div>
<div id="info-title" class="col-xs-0 col-sm-4 col-md-3 col-lg-3">
  <h4 style="float:left;";>Info</h4>
  <img class="title-icon" src="/images/info-icon.png">
</div>
<div class="clearfix"></div>

<div id="language-list" class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
  {{#each languages }}
  <div id ="{{ this.name }}" class="language" onClick="populateExpressions('{{ this._id }}', '{{ this.name }}' ,'{{ this.info }}', '{{ this.map }}')">{{ this.name }}
  </div>
  {{/each}}
</div>

<div id="expression-list" style="overflow:auto;" class="col-xs-0 col-sm-4 col-md-4 col-lg-4">
  <div id="hidden-header">
    <img style="float:left;"id="back-icon" src="/images/back-icon.png" onClick="closeModal();">
    <h5 style="text-align: center;">{{initLangName}}</h5>
  </div>
  {{#each expressions }}
  <div id="{{ this._id }}" class="expression">
    <div class="expression-text">
    {{ this.english }} - {{ this.translation }} 
    </div>
  <audio controls style="width:50px;">
    <source src="{{ this.audio }}" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio> 
  </div>
  {{/each}}
</div>

<div id="info-container" class="col-xs-0 col-sm-4 col-md-3 col-lg-3 hidden-md">
  <div id="info">
  {{ initInfo }}
  </div>
  <img id="map" src="{{ initMap }}">
</div>
