<div class="container-fluid">
  <div class="row">
    <div class="col-sm-0 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="/dashboard">Overview</a></li>
        <li><a href="dashboard/languages">Languages</a></li>
        <li><a href="dashboard/expressions">Expressions</a></li>
        <li><a href="dashboard/users">Users</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="jumbotron">
        <h1>Welcome to the dashboard</h1>
        <p>You can add, modify and delete languages and expressions</p>
      </div>
    </div>
  </div>
</div>
