<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li><a href="{{static}}/dashboard">Overview</a></li>
        <li><a href="{{static}}/dashboard/languages">Languages</a></li>
        <li><a href="{{static}}/dashboard/expressions">Expressions</a></li>
        <li class="active"><a href="{{static}}/dashboard/users">Users</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      {{#if error}}
        <div class="alert alert-danger" id="user-error" role="alert">
          <p>{{ error }}</p>
        </div>
      {{/if}}
      {{#if success}}
        <div class="alert alert-success" id="user-success" role="alert">
          <p>{{ success }}</p>
        </div>
      {{/if}}
      <div class="edit-user panel panel-primary">
        <div class="panel-heading user-panel">Edit User</div>
        <form class="form-user" id="new-user" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" value="{{ user.username }}" name="username">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="text" class="form-control" name="password" value="{{ user.password }}">
          </div>
          <div class="form-group">
            <label for="role">Select the role of the user</label>
            <select name="role">
              {{#select user.role }}
              <option value="admin">Admin</option>
              <option value="staff">Staff</option>
              {{/select}}
            </select>
            <p class="help-block">
              Admin gets complete access to everything in the dashboard.
            </p>
            <p class="help-block">
              Staff gets the same access as admin with the expetion of adding/removing users
            </p>
          </div>
            <input type="submit" class="btn btn-primary" name="action" value="Update User">
            <input type="submit" class="btn btn-danger" name="action" value="Remove">
        </form>
      </div>
    </div>
  </div>
</div>