<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li><a href="{{static}}/dashboard">Overview</a></li>
        <li><a href="languages">Languages</a></li>
        <li class="active"><a href="expressions">Expressions</a></li>
        {{#if admin}}<li><a href="{{static}}/dashboard/users">Users</a></li>{{/if}}
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="buttons-container">
        <a class="new-expression" href="{{static}}/dashboard/expressions/new"><button class="btn btn-primary" type="button">Add New Expression</button></a>
          
        <a class="new-default-expression" href="{{static}}/dashboard/expressions/default"><button class="btn btn-primary" type="button">View Default Expressions</button></a>
      </div>  
      <div class="table-responsive expressions-table">
        <table class="table table-striped table-bordered">
          <colgroup>
             <col span="1" style="width: 20%;">
             <col span="1" style="width: 30%;">
             <col span="1" style="width: 30%;">
             <col span="1" style="width: 10%;">
             <col span="1" style="width: 10%;">
          </colgroup>
          <thead>
            <tr>
              <th>Language</th>
              <th>English</th>
              <th>Translation</th>
              <th>Audio</th>
              <th>Modify</th>
            </tr>
          </thead>
          <tbody>
            {{#each expressions}}
              <tr>
                {{#each ../languages}}

                  {{#ifCond this._id ../this.language}}
                    <td>{{ this.name }}</td>
                  {{/ifCond}}

                {{/each}}
                <td>{{ this.english }}</td>
                <td>{{ this.translation }}</td>
                <td>
                  <span class="glyphicon glyphicon-play-circle" style="font-size:30px;" onclick="document.getElementById('expr-audio-{{ this._id }}').play()"></span>
                  <audio src="{{../static}}/{{ this.audio }}" id="expr-audio-{{ this._id }}"></audio>
                </td>
                <td><a href="expressions/{{ this._id }}/edit">Edit</a></td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
function sort_table(tbody, col, asc)
{
    var rows = tbody.rows;
    var rlen = rows.length;
    var arr = new Array();
    var i, j, cells, clen;
    for(i = 0; i < rlen; i++)
    {
        cells = rows[i].cells;
        clen = cells.length;
        arr[i] = new Array();
      for(j = 0; j < clen; j++) { arr[i][j] = cells[j].innerHTML; }
    }
    arr.sort(function(a, b)
    {
        var retval=0;
        var fA=parseFloat(a[col]);
        var fB=parseFloat(b[col]);
        if(a[col] != b[col])
        {
            if((fA==a[col]) && (fB==b[col]) ){ retval=( fA > fB ) ? asc : -1*asc; }
            else { retval=(a[col] > b[col]) ? asc : -1*asc;}
        }
        return retval;      
    });
    for(var rowidx=0;rowidx<rlen;rowidx++)
    {
        for(var colidx=0;colidx<arr[rowidx].length;colidx++){ tbody.rows[rowidx].cells[colidx].innerHTML=arr[rowidx][colidx]; }
    }
}
sort_table(document.getElementsByTagName('tbody').item(0), 1, true);
sort_table(document.getElementsByTagName('tbody').item(0), 0, true);
</script>