<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li><a href="/dashboard">Overview</a></li>
        <li class="active"><a href="languages">Languages</a></li>
        <li><a href="expressions">Expressions</a></li>
        <li><a href="users">Users</a></li>
        <li><a href="sessions">Sessions</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="new-language">
        <a href="languages/new"><button class="btn btn-primary" type="button">Add New Language</button></a>
      </div>
      <div class="table-responsive languages-table">
        <table class="table table-striped table-bordered">
          <colgroup>
           <col span="1" style="width: 10%;">
           <col span="1" style="width: 20%;">
           <col span="1" style="width: 40%;">
           <col span="1" style="width: 10%;">
           <col span="1" style="width: 10%;">
           <col span="1" style="width: 10%;">
          </colgroup>
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Info</th>
              <th>Map Path</th>
              <th>Status</th>
              <th>Modify</th>
            </tr>
          </thead>
          <tbody>
            {{#each languages}}
              <tr>
                <td>{{ this._id }}</td>
                <td>{{ this.name }}</td>
                <td>{{ this.info }}</td>
                <td><a href="{{ this.map }}">Link</a></td>
                <td>{{#if this.ready }}
                  READY
                {{else}}
                  DRAFT
                {{/if}}</td>
                <td><a href="languages/{{ this._id }}/edit">Edit</a></td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
