<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li><a href="{{static}}/dashboard">Overview</a></li>
        <li><a href="{{static}}/dashboard/languages">Languages</a></li>
        <li class="active"><a href="{{static}}/dashboard/expressions">Expressions</a></li>
        {{#if admin}}<li><a href="{{static}}/dashboard/users">Users</a></li>{{/if}}
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-3 main">
      <div class="new-expression">
        <a href="{{static}}/dashboard/expressions"><button class="btn btn-primary">Back</button></a>
      </div>
      <div class="add-expression">
      	<h1>Add a new expression.</h1>
      	<p class="help-block">After the new expression is saved, you will be redirected to
        the expression edit page.</p>
      	<hr>
        {{#if error}}
          <div class="alert alert-danger" id="new-expr-error" role="alert">
            <p>{{ error }}</p>
          </div>
        {{/if}}
      	<form class="form-expr" id="new-lang" method="post" enctype="multipart/form-data">
      		<div class="form-group">
      			<label for="english">English</label>
            <input type="text" class="form-control" value="{{ english }}" name="english">
      		</div>
      		<div class="form-group">
      			<label for="translation">Translation</label>
            <input type="text" class="form-control" value="{{ translation }}" name="translation">
      		</div>
					<div class="form-group">
            <label for="map">Upload your audio file</label>
            <input type="file" name="audio" id="audio">
            <p class="help-block">Please enter the audio file for the expression</p>
          </div>
          <div class="form-group">
            <label for="language">Select language</label>
            <select name="language">
              {{#select language}}
              {{#each languages }}
                <option value="{{ this._id }}">{{ this.name }}</option>
              {{/each}}
              {{/select}}
            </select>
          </div>
          <input type="submit" class="btn btn-primary" value="Send">
      	</form>
      </div>
    </div>
  </div>
</div>
