<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li><a href="/dashboard">Overview</a></li>
        <li class="active"><a href="/dashboard/languages">Languages</a></li>
        <li><a href="/dashboard/expressions">Expressions</a></li>
        <li><a href="/dashboard/users">Users</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-3 main">
      <div class="new-language">
        <a href="/dashboard/languages"><button class="btn btn-primary">Back</button></a>
      </div>
      <div class="add-language">
      	<h1>Add a new language.</h1>
      	<p class="help-block">After the new language is saved, you will be able to
      	enter expressions for the language.</p>
      	<hr>
        {{#if error}}
          <div class="alert alert-danger" id="new-lang-error" role="alert">
            <p>{{ error }}</p>
          </div>
        {{/if}}
      	<form class="form-lang" id="new-lang" method="post" enctype="multipart/form-data">
      		<div class="form-group">
      			<label for="name">Name</label>
            <input type="text" class="form-control" value="{{ name }}" name="name">
      		</div>
      		<div class="form-group">
      			<label for="info">Info</label>
            <textarea class="form-control" name="info" rows="4">{{ info }}</textarea>
      		</div>
					<div class="form-group">
            <label for="map">Upload your map</label>
            <input type="file" name="map" id="map">
            <p class="help-block">Please enter the map for the language</p>
          </div>
          <input type="submit" class="btn btn-primary" value="Save as Draft">
      	</form>
      </div>
    </div>
  </div>
</div>
