<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li><a href="/dashboard">Overview</a></li>
        <li><a href="languages">Languages</a></li>
        <li><a href="expressions">Expressions</a></li>
        <li class="active"><a href="users">Users</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="buttons-container">
        <a class="new-expression" href="/dashboard/users/new"><button class="btn btn-primary" type="button">Add New User</button></a>
      </div> 
      <div class="table-responsive users-table">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Username</th>
              <th>Password</th>
              <th>Role</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
            {{#each users}}
              <tr>
                <td>{{ this._id }}</td>
                <td>{{ this.username }}</td>
                <td>{{ this.password }}</td>
                <td>{{ this.role }}</td>
                <td><a href="users/{{ this.username }}/edit">Edit</a></td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>